/* .container {
  background-color: #F1EFE9;
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px 150px;
  border-color: red;
  border-width: 5px;
  border-style: solid;
} */

section{
  margin: 0px auto;
  max-width: 1000px;
}

.Home{
  background-color: #F1EFE9;
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px 150px;
  /* border-color: green;
  border-width: 5px;
  border-style: solid; */
}

.Home-Page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
  /* border-color: aqua;
  border-width: 5px;
  border-style: solid; */
}

.Home-Text1{
  margin: 0px 0px 30px 4px;
  font-size: 16px;
  font-weight: 400;
  opacity: 80%;
  /* border-color: aqua;
  border-width: 5px;
  border-style: solid; */
}

.Home-Text2{
  margin: 0px;
  font-size: 80px;
  /* border-color: aqua;
  border-width: 5px;
  border-style: solid; */
}

.Home-Text3{
  margin: 0px;
  margin-top: 10px;
  font-size: 80px;
  opacity: 50%;
  /* border-color: aqua;
  border-width: 5px;
  border-style: solid; */
}

.Home-Text4{
  margin: 20px 0px 0px;
  max-width: 540px;
  font-size: 24px;
  opacity: 75%;
  /* border-color: aqua;
  border-width: 5px;
  border-style: solid; */
}
/* ========================================= */
.About {
  background-color: #E2DED1;
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px 150px;
  /* border-color: aqua;
  border-width: 5px;
  border-style: solid; */
}

.About-Me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  max-width: 900px;
  padding: 0px;
  border-color: orange;
  border-width: 5px;
  border-style: solid;
}

.About-Header{
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,var(--fz-heading));
    white-space: nowrap;


  border-color: orange;
  border-width: 5px;
  border-style: solid;
}

.Inner {
  display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 50px;
}

.About-Description {
  margin: 0px 0px 15px;
  max-width: 540px;
  border-color: aqua;
  border-width: 5px;
  border-style: solid;
}

.Profile-Pic{
  display: flex;
  justify-content: space-between;
  height: 370px;
  width: 300px;
  border-color: aqua;
  border-width: 5px;
  border-style: solid;
}

.info {
  margin:0px;
  border-color: aqua;
  border-width: 5px;
  border-style: solid;
}

ul{
  display: grid;
    grid-template-columns: repeat(4, minmax(100px, 10px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
}

.icons{
  filter: brightness(0%);
}

img {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 50px;
  margin-top: 20px;
}