/* .container {
  background-color: #F1EFE9;
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px 150px;
  border-color: red;
  border-width: 5px;
  border-style: solid;
} */

section{
  margin: 0px auto;
  max-width: 1000px;
}

.Home{
  background-color: #F1EFE9;
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px 150px;
}

.Home-Page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
}

.Home-Text1{
  margin: 0px 0px 30px 4px;
  font-size: 16px;
  font-weight: 400;
  opacity: 80%;
}

.Home-Text2{
  margin: 0px;
  font-size: 80px;
}

.Home-Text3{
  margin: 0px;
  margin-top: 10px;
  font-size: 80px;
  opacity: 50%;
}

.Home-Text4{
  margin: 20px 0px 0px;
  max-width: 540px;
  font-size: 24px;
  opacity: 75%;
}
/* ========================================= */
.About {
  background-color: #E2DED1;
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px 150px;
}

.About-Me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  max-width: 900px;
  padding: 0px;
}

.About-Header{
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 20px;
    font-size: 32px;
}

.Inner {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 50px;
}

.About-Description {
  margin: 0px 0px 65px;
  max-width: 540px;
  font-size: 20px;
}

.Profile-Pic{
  display: flex;
  justify-content: space-between;
  height: 370px;
  width: 300px;
  margin-top: 0px;
}

.info {
  margin:0px;
  font-size: 20px;
  text-align: center;
}

ul{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(100px, 10px));
  gap: 10px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  list-style: none;
}

li {
width: 75px;
height: 75px;
margin-top: 0px;
margin-right: 0px;
}

.icons{
  filter: brightness(0%);
}

.icon {
  display: flex;
  flex-direction: column;
  height: 75px;
  width: 75px;
  margin: 0px 0px 0px 0px;
}
/* ========================================= */
.Project {
  background-color: #F1EFE9;
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px 150px;
}

.Projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  max-width: 900px;
  padding: 0px;
}

.Project-Header{
  display: flex;
  align-items: center;
  position: relative;
  margin: 60px 0px 10px 0px;
  font-size: 32px;
}

.Jasz-Inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.Jasz-Description {
  margin: 0px 0px 0px 50px;
  max-width: 500px;
  font-size: 20px;
}

.Jasz-Image{
  width: 50%;;
  margin-top: 0px;
}

.Matrix-Inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.Matrix-Description {
  margin: 0px 0px 0px 50px;
  max-width: 500px;
  font-size: 20px;

}

.Matrix-Image{
  width: 50%;;
  margin-top: 0px;

}

.Bar-Inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.Bar-Description {
  margin: 0px 0px 0px 50px;
  max-width: 500px;
  font-size: 20px;
}

.Bar-Image{
  width: 50%;;
  margin-top: 0px;
}

footer{
  background-color: black;
  color: #E2DED1;
  text-align: center!important;
}

.footer-text1 {
  font-size: 40px;
  margin-top: auto;
  padding-top: 20vh;
}

.footer-text2 {
  font-size: 20px;
}

.External-Link {
  filter: invert(97%) sepia(5%) saturate(411%) hue-rotate(4deg) brightness(93%) contrast(90%);
  width: 50px;
  height: 50px;
  margin: 10px
}

.footer-text3 {
  font-size: 20px;
}

.footer-text4 {
  font-size: 20px;
}